In [1]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
%matplotlib inline
import seaborn as sns; sns.set_theme(color_codes=True)
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.colors
import warnings
warnings.filterwarnings('ignore')
from scipy import stats
import math

In [18]:
# read in dara/jon-miket-validates
df1 = pd.read_csv('data/jon-mikey-validated-labels-correct.csv')
df2 = pd.read_csv('data/jon-mikey-validated-labels-incorrect.csv')

In [19]:
#select seattle data
df1 = df1[df1['city'] == 'seattle']
df2 = df2[df2['city'] == 'seattle']

In [20]:
#select only label_id
df1 = df1[['label_id']]
df2 = df2[['label_id']]

In [21]:
#create a new column for correct/incorrect called ground_truth
df1['ground_truth'] = 1
df2['ground_truth'] = 0

In [22]:
#combine the two dataframes
df = pd.concat([df1, df2])

In [24]:
df.sort_values(by=['label_id'], inplace=True)

In [25]:
df

       label_id  ground_truth
0             9             1
1            12             1
2            20             1
3            22             1
4            23             1
...         ...           ...
3820     233166             0
12923    233167             1
12924    233171             1
12925    233172             1
12926    233173             1

[16748 rows x 2 columns]

In [26]:
#read in the labels file
labels = gpd.read_file('data/seattle_labels.geojson')

In [27]:
#check if all label_ids in df are in labels
df['label_id'].isin(labels['label_id']).all()

False

In [43]:
#select label_ids in df are in labels
df = df[df['label_id'].isin(labels['label_id'])]

In [44]:
df

       label_id  ground_truth
0             9             1
1            12             1
2            20             1
3            22             1
4            23             1
...         ...           ...
3820     233166             0
12923    233167             1
12924    233171             1
12925    233172             1
12926    233173             1

[16580 rows x 2 columns]

In [45]:
#save the ground truth labels to a csv
df.to_csv('data/seattle_ground_truth_labels.csv', index=False)